/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
body {
    background-image: url("bg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}